.vscode/**
.vscode-test/**
.gitignore
node_modules/**
.git/**
*.vsix
**/*.map
.eslintrc.json
test/**
tsconfig.json
vsc-extension-quickstart.md
**/jsconfig.json
**/*.ts
.codeforge/**
.github/**
docs/**
examples/**